# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
build/
*.lock

# Android
android/app/build/
android/.gradle/
android/.idea/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db

# APK y bundles
*.apk
*.aab
